  body{
    background-color: black;
    text-align: center;
    margin: auto;
    width: 70vw;
  }
  #texto{
    color:white;
    text-align: center;
  }
  div.di{
    margin: auto;
    color: red;
    display: inline-block;
    width: 23%;
    height: 100px;
  }